################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HealthApp/HealthApp/obj/Debug/net8.0-windows
/HealthApp/.vs/HealthApp
/HealthApp/HealthApp/obj
/HealthApp/HealthApp/bin/Debug/net8.0-windows
/.vs
/HealthApp/.vs/ProjectEvaluation
